-e git+https://github.com/fernandoe/django-fe-core.git@release/0.4.0#egg=django_fe_core
-e git+https://github.com/fernandoe/django-fe-jwt.git@release/0.0.1#egg=django_fe_jwt
dj-database-url==0.5.0
Django==2.0.6

## The following requirements were added by pip freeze:
pytz==2018.4
